---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());

function getRandomPlaceholder() {
    return `https://cdn.hrsn.net/blog/placeholders/${Math.floor(Math.random() * 4) + 1}.jpg`;
}
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title="Home" description={SITE_DESCRIPTION} />
        <style>
            main {
                width: 960px;
            }
            ul {
                list-style-type: disc;
                margin: 0;
                padding: 1rem 2rem;
            }
            ul li {
                margin-bottom: 0.5rem;
            }
            ul li a {
                text-decoration: none;
                color: rgb(var(--black));
                display: inline-block;
                transition: color 0.2s ease;
            }
            .title {
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
            }
            .date {
                font-size: 1rem;
                color: rgb(var(--gray));
            }
        </style>
    </head>

    <body>
        <main>
            <h1>William's Blog</h1>

            <br />

            <section>
                <ul>
                    {
                        posts.map((post) => {
                            const formattedDate = new Date(post.data.date).toLocaleDateString("en-au", {
                                year: "numeric",
                                month: "long",
                                day: "numeric"
                            });

                            return (
                                <li>
                                    <a href={`/${post.slug}`}>
                                        {post.data.title}
                                        <span class="date">({formattedDate})</span>
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
