---
const today = new Date();
---

<div>
	<footer>&copy; {today.getFullYear()} <b>William Harrison</b> - All Rights Reserved.</footer>
</div>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
