---
const today = new Date();
---

<div>
    <footer>&copy; 2024-{today.getFullYear()} <a href="https://wharrison.com.au">William Harrison</a> - All Rights Reserved.</footer>
</div>
<style>
    footer {
        padding: 2em 1em 2em 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
    }
</style>
